In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import pprint as pprint
import os
import pymongo
from copy import deepcopy

In [2]:
#Beginning Scrapping

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
base_url = 'https://www.payscale.com/cost-of-living-calculator/'
browser.visit(base_url)

In [5]:
base_html = browser.html
base_soup = bs(base_url, 'html.parser')

C:\Users\dnunez\LearnPython\Anaconda3\lib\site-packages\bs4\__init__.py:335: UserWarning: "https://www.payscale.com/cost-of-living-calculator/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

In [6]:
print(base_soup.prettify())

https://www.payscale.com/cost-of-living-calculator/

In [7]:
city_list = ['California-San-Francisco', 'California-Los-Angeles', 'California-San-Diego', 'California-San-Jose']
table_dfs = []
for city in city_list:
    df_name = city
    table_dfs.append(df_name)

table_dfs

['California-San-Francisco',
 'California-Los-Angeles',
 'California-San-Diego',
 'California-San-Jose']

In [8]:
count = 0
pages = []
for page in range(2, 6):
    page_url = f"{base_url}{city_list[count]}"
    count = count + 1
    pages.append(page_url)
    print(page_url)

https://www.payscale.com/cost-of-living-calculator/California-San-Francisco
https://www.payscale.com/cost-of-living-calculator/California-Los-Angeles
https://www.payscale.com/cost-of-living-calculator/California-San-Diego
https://www.payscale.com/cost-of-living-calculator/California-San-Jose

In [9]:
print(pages)

['https://www.payscale.com/cost-of-living-calculator/California-San-Francisco', 'https://www.payscale.com/cost-of-living-calculator/California-Los-Angeles', 'https://www.payscale.com/cost-of-living-calculator/California-San-Diego', 'https://www.payscale.com/cost-of-living-calculator/California-San-Jose']

In [10]:
headers = ['Median Home Price','Median Rent','Energy Bill','Phone Bill','Gas','Loaf of Bread', \
           'Gallon of Milk','Carton of Eggs','Bunch of Bananas','Hamburger',"Doctor's Visit",\
           'Dentist Visit','Optometrist Visit','Rx Drug','Veterinary Visit']

In [13]:
lifestyle_df = pd.DataFrame()
for page in pages:
   browser.visit(page)
   cali_region = browser.html
   cali_soup = bs(cali_region, 'html.parser')
   values = []
   for info in cali_soup.find_all('div', class_='itemized__item-container'):
       for v in info.find_all('div', class_='itemized__item-value'):
           value = v.text
           values.append(deepcopy(value))
   style_df = pd.DataFrame([{headers[x]:values[x] for x in range(len(headers))}])
   lifestyle_df = lifestyle_df.append(deepcopy(style_df))

df = pd.DataFrame(lifestyle_df)
df['States']= city_list


cali_data = df.set_index('States')
cali_data

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
States,,,,,,,,,,,,,,,
California-San-Francisco,$4.32,$2.33,$114.23,$132.96,$182.92 / month,$2.49,$3.51 / gallon,$5.45,$4.28,"$1,146,835","$3,593 / month",$124.59,$194.98 / month,$529.64,$62.84
California-Los-Angeles,$3.77,$2.03,$104.53,$121.67,$180.74 / month,$2.17,$3.42 / gallon,$4.75,$3.73,"$788,384","$2,470 / month",$114.01,$192.66 / month,$484.66,$54.97
California-San-Diego,$3.79,$2.04,$102.24,$119.01,$192.64 / month,$2.19,$3.36 / gallon,$4.79,$3.76,"$817,185","$2,560 / month",$111.52,$205.35 / month,$474.08,$52.55
California-San-Jose,$4.06,$2.18,$110.42,$128.53,$210.75 / month,$2.34,$2.91 / gallon,$5.12,$4.02,"$860,907","$2,697 / month",$120.44,$224.65 / month,$512.00,$55.07